.infoBox{
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  background:#075698; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  font-size:13px;
}

/*KML Button Changes*/


#KMLLayerButtonGroup ul {
    list-style: none;
    margin: 5px;
    width: 200px;
}

#KMLLayerButtonGroup ul li {
    border: 1px solid black;
    padding: 3px;
    padding-right: 10px;
    padding-left: 15px;
    background: rgb(128, 130, 133);
    text-align: center;
}

#KMLLayerButtonGroup ul li a {
    color:  rgb(188, 189, 192);
    text-decoration: none;
}

#KMLLayerButtonGroup ul li a:hover {
    color: rgb(255, 255, 255);
    transition: .25s;
    text-decoration: none;
    cursor: pointer;
}

#KMLLayerButtonGroupHide {
    border: 1px solid black;
    padding: 2px;
    padding-top: 5px;
    background: rgb(128, 130, 133);
    color:  rgb(188, 189, 192);
    text-align: center;
}

#KMLLayerButtonGroupHide:hover {
    color: rgb(255, 255, 255);
    transition: .25s;
    cursor: pointer;
}

/* Map Sidebar */


#mapSidebar {
    
    z-index: 1000;
    position: absolute;
    width: 330px;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#mapSidebarHide {
    position: absolute;
    width: 25px;
    height: 50px;
    left: 300px;
    top: 50px;
    background: rgb(182, 184, 186);
    color: #888;
    cursor: pointer;
}

#mapSidebarShow {
    position: absolute;
    width: 25px;
    height: 50px;
    left: 0px;
    top: 50px;
    background: rgb(182, 184, 186);
    color: #888;
    cursor: pointer;
}

#mapSidebarHide:hover, #mapSidebarShow:hover {
    color: rgb(255, 255, 255);
    transition: .25s;
}

#mapSidebarHide i {
    margin-top: 18px;
    font-size: 20px;
    margin-left: 7px;
}

#mapSidebarShow i {
    margin-top: 18px;
    font-size: 20px;
    margin-left: 9px;
}


#mapSidebarContent {
    width: 300px;
    background:rgb(128, 129, 133);
    -webkit-box-shadow: 10px 0 5px -2px #111;
        box-shadow: 10px 0 5px -2px #111;
}

#mapSidebarHeader{
    height: 50px;
    width: 300px;
    background: rgb(252, 156, 70);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

#mapSidebarHeader span{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

#mapSidebarHeader .active {
    background-color: rgb(216, 130, 60);
    font-weight: bold;
}

#mapSidebarHeader .inactive {

}

#mapSidebarHeader .tabDivider {
    position: relative;
    width: 1px;
    max-width: 1px;
    height: 36px;
    margin: 0px;
    top: 14px;
    padding: 0px;
    background-color: rgb(216, 130, 60);
}

#mapShapeLegendContent , #mapColorLegendContent { 
    margin: 10px;
    overflow-y: auto;
    color: white;
    background: rgb(152, 154, 156);
    font-size: 16px;
}

/* Shape Selection */

#mapSidebarShapeTable th {
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}


#mapSidebarShapeTable tr {
    border-bottom: 1px solid rgb(128, 129, 133);
}

#mapSidebarShapeTable td, #mapSidebarShapeTable th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#mapSidebarShapeTable th {
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

.shapeLegendRow { 
    
}

.shapeLegendDescription { 
    min-width: 200px;
    font-size: 16px;
    padding-left: 5px;
}

.shapeLegendImg { 
    min-width: 80px;
}

.shapeLegendImg img { 
    cursor: pointer;
}

/* Shape Selection Window */

#shapeSelectionWindow {
    position: absolute;
    left: 300px;
    width: 250px;
    background: rgb(128, 129, 133);
    z-index: 1000;  
    max-height: 200px;
    overflow-y: auto;
}

.shapeSelectionRow {
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px;
}

.shapeSelectionRow:hover{
    background: lightgrey;
    transition: .25s;
}

/* Color Legend Row */

#mapSidebarColorTable th {
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}


#mapSidebarColorTable tr {
    border-bottom: 1px solid rgb(128, 129, 133);
}

#mapSidebarColorTable td, #mapSidebarColorTable th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#mapSidebarColorTable th {
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

.colorLegendDescription { 
    min-width: 200px;
    font-size: 16px;
    padding-left: 5px;
}

.colorLegendImg { 
    min-width: 80px;
}

.colorLegendImg img { 
    min-width: 25px;
    min-height: 25px;
    height: 25px;
    width: 25px;
}

#mapRefresh {
   z-index: 1002;
   height: 58px;
   width: 58px;
   background-color: #24d8e5 ;
   position: absolute;
   border-radius: 100%;
   box-shadow: 0 0 5px 1px rgba(0,0,0,.15);
   cursor: pointer;
   display: none;
   margin-right: 10px;
   margin-top: 10px;
   -webkit-transition: all 150ms ease;
   -moz-transition: all 150ms ease;
   -o-transition: all 150ms ease;
   transition: all 150ms ease;
                     transition-property: all;
                     transition-duration: 150ms;
                     transition-timing-function: ease;
                     transition-delay: initial;
}

#mapRefresh:hover { 
   -webkit-transition: all 150ms ease;
   -moz-transition: all 150ms ease;
   -o-transition: all 150ms ease;
   transition: all 150ms ease;
                     transition-property: all;
                     transition-duration: 150ms;
                     transition-timing-function: ease;
                     transition-delay: initial;
   height: 76px;
   width: 76px;
   padding-top:8px;
}

.update-icon {
   width: 24px;
   height: 31px;
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAfCAYAAAD9cg1AAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATZJREFUeNq0VQsNgzAQhQUBSMDBkFAHQwISmILhoBKYA+YACWwKmAPm4HZk1+TStNAuvZe8lAB992n7mmWRAIAG2SHLTAIovMIPC1JJBLChk1YDbvxfDU6skT1yRE6wjz5GWCFniMMUIlwiB2viTFU0e+LIKkScZz3akxzC267qQtsysoltwCIfZ80mtkfi9N8UlTVrjTlAWuLwtKyfSS3gROOFxnue5x9Jf2mkDMygTKRnTn9V8A8J27N14rY9mADXxE05Z5JgbtBKiFdsTSuJANoYpIR4HWI3vrLNZVMHOPEcI96xgwiuq5ESmJnd1LFZgy+AlcAa5AaOrDk64mD9s4RmriLv4ZVswWkzhePdm+jbw0/kh8YX8hFtMbQjtCdjlXJfK+qtTABPNUrKwNTeYvrwFWAAc/D9t7oIgw4AAAAASUVORK5CYII=) 0 0 no-repeat;
   margin: 14px auto;
}

/* Map Overlay */

#mapOverlay { 
    position: absolute;
    z-index: 2000;
    background-color: hsla(0, 0%, 100%, .45);
    top: 0;
    left: 0;
}

.markerInfoBox {
    color: #000;
}